p {
    margin: 0;
}

input, textarea, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

body {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: #ccc;
    color: black;
}

body form {
    border-radius: 4px;
    padding: 12px;
    background-color: whitesmoke;
}
button {
    color: white;
    background-color: rgb(53, 53, 235);
    font-family: Lucida sans;
}

.pesan {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.pesan-text{
    margin-top: 5px !important;
}


.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.author strong {
    color: blue;
}